.book-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.book-item {
  margin-bottom: 1rem;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Book details section */
.book-item .details {
  display: none;
  /* Initially hidden */
  margin-top: 1rem;
}

.book-item:hover .details {
  display: block;
  /* Reveal details on hover */
}

/* Specific element styles */
.book-item span {
  margin-right: 1rem;
}

.book-item button {
  padding: 0.5rem 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
  background-color: #fff;
  /* Adjust for hover/active states */
  color: #333;
  /* Adjust for hover/active states */
}

.book-item button:hover {
  background-color: #eee;
  /* Lighten background on hover */
}

.error-message {
  color: red;
  font-weight: bold;
  padding: 1rem;
  border: 1px solid red;
  border-radius: 4px;
  margin-bottom: 1rem;
}

/* Responsive adjustments (optional) */
@media (max-width: 768px) {
  .book-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .book-item .details {
    margin-top: 0;
  }
}

/* Login Container */
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 70px);
}

/* Login Form Container */
.login_container {
  width: 400px;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* Login Text */
.login_text h1 {
  margin-bottom: 2rem;
  font-size: 2rem;
  text-align: center;
}

.login_text h1::after {
  content: "";
  display: block;
  width: 4rem;
  height: 3px;
  background-color: var(--primary-color);
  margin: .5rem auto 0;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Form Label */
label {
  display: block;
  margin-bottom: 5px;
}

/* Form Input */
input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

input:focus {
  outline: none;
  border-color: var(--primary-color);
}

.login button {
  width: 100%;
  padding: 10px;
  background-color: var(--primary-color);
  color: #fff;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  cursor: pointer;
  transition: all .3s ease-in-out;
  font-size: 1rem;
  font-weight: 600;
}

.login button:hover {
  color: var(--primary-color);
  background-color: #fff;
}

/* Error Message */
.error-message {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}

/* Get Library Button */
.get-library-btn {
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.get-library-btn:hover {
  background-color: #0056b3;
}

.library-content {
  margin-block: 3rem;
}

.library-title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}

/* Library List */
.library-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* border: 1px solid #ccc; */
  /* padding: 10px; */
  /* border-radius: 5px; */
}

/* Library Item */
.library-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.library-item span {
  margin-right: 1rem;
}

.library-item p {
  color: #777;
}

.library-item:hover {
  background-color: #f0f0f0;
}

/* Register Library Button */
.register-library-btn {
  padding: 1rem;
  background-color: var(--primary-color);
  color: #fff;
  border-radius: .5rem;
  transition: all .2s ease-in-out;
}

.register-library-btn:hover {
  background-color: var(--secondary-color);
}

/* Book List Container */
.book-list {
  list-style-type: none;
  padding: 0;
}

/* Book Item */
.book-item {
  margin: 20px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Hidden Class */
.hidden {
  display: none;
}

/* Additional Details */
.book-details {
  margin-top: 10px;
}

/* Book Details */
.book-details span {
  display: block;
  margin-bottom: 5px;
}

/* Button Styles */
.book-button {
  padding: 5px 10px;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.book-button:hover {
  background-color: #0056b3;
}

/* User Container */
.user-container {
  margin: 20px;
}

/* User Email */
.user-email {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Loan Item */
.loan-item {
  margin-bottom: 20px;
}

/* Loan Details */
.loan-details {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Loan Book Name */
.loan-book-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

/* Loan Info List */
.loan-info-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Loan Info Item */
.loan-info-item {
  margin-bottom: 5px;
}

/* Loan Date */
.loan-date {
  font-weight: bold;
}

/* Loan Penalty */
.loan-penalty {
  font-style: italic;
  color: #ff0000;
  /* Red color for penalty */
}

footer {
  margin-top: 2rem;
  background-color: var(--primary-color);
  color: #fff;
  width: 100%;
}


footer .logo {
  align-content: center;
}

footer .logo a {
  font-size: 3rem;
  font-weight: 500;
  text-transform: lowercase;
  font-family: 'Treuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-shadow: -3px 2px 0px var(--secondary-color);
  transition: all .3s ease-in-out;
}

footer .logo a:hover {
  text-shadow: -3px 2px 0px #fff;
}


.footer-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
  padding: 2rem 0;
  justify-content: center;
}

.footer-content .list-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.list-title {
  font-size: 1.2rem;
  color: #fff;
  text-align: center;
}

.list-title::after {
  content: "";
  display: block;
  width: 4rem;
  height: 3px;
  background-color: var(--secondary-color);
  margin: .5rem auto 0;
}

footer ul {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  text-align: center;
}

footer a:hover {
  color: var(--secondary-color);
}

.footer-bottom {
  background-color: var(--secondary-color);
  color: #fff;
  text-align: center;
  padding: 1rem 0;
}

.booklist {
  margin: 3rem 0;
  min-height: calc(100vh - 70px);
}

.booklist-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.booklist-header h1 {
  font-size: 2.5rem;
}

.booklist-header h2 {
  font-size: 1.5rem;
  color: #777;
  font-weight: 400;
}

.booklist-content {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}

.book-detail {
  margin: 3rem 0;
}

.book-detail-image {
  display: flex;
  justify-content: center;
  align-items: center;
} 

.book-detail-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.book-detail-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 1px solid #ccc;
  padding: 2rem;
  border-radius: 5px;
}

.book-detail-info h2 {
  font-size: 2.5rem;
}

.book-detail-info p {
  font-size: 1.2rem;
}

.book-detail-info span {
  color: #777;
  font-weight: bold;
  font-size: 1rem;
}

.book-detail-info button {
  padding: 1rem;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.book-detail-info button:hover {
  background-color: var(--secondary-color);
}

.comments {
  margin: 3rem 0;
  display: flex;
  flex-direction: column;
  width: 50%
}

.comments-title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.comments-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 1rem;
}

.comments-list li {
  display: grid;
  grid-template-columns: 80px 1fr;
  gap: 1rem;
}

.comment-content {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.comment-info {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.comment-detail {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.comment-detail:first-child::after {
  content: "";

}

.comment-date {
  color: #777;
  font-size: .8rem;
}


.comment-rating {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .2rem;
}

.comment-user {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #ccc;
}

.comment-text {
  font-size: 1.2rem;
}

.comment-detail {
  font-size: 1rem;
  color: #777;
}


.comment-form {
  margin: 3rem 0;
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.form-group textarea {
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
}

.comment-button {
  padding: .5rem 1rem;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 5px;
  transition: all .2s ease-in-out;
}

.comment-button:hover {
  background-color: var(--secondary-color);
}

.form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}


.comment-star {
  color: #ccc;
}
